.List {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
  padding: 0;
  align-items: center;
  justify-items: center;
}

@media (min-width: 768px) {
  .List {
    max-width: fit-content;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 992px) {
  .List {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1200px) {
  .List {
    grid-template-columns: repeat(4, 1fr);
  }
}