.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
}

.Modal {
  width: 100%;
  max-width: 600px;
  background-color: var(--background);
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
  position: relative;
  padding: 1rem;
}

@media (max-width: 767px) {
  .Modal {
    width: 100%;
    min-width: 320px;
    height: 100%;
    border-radius: 0;
    padding-top: 2rem;
  }
}

.Header {
  display: grid;
  grid-template-columns: 1fr max-content;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.Title {
  font-size: 1.25rem;
  font-weight: bolder;
  line-height: 1.5rem;
  margin: 0;  
}

.CloseButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  border-radius: 100%;
  cursor: pointer;
  padding: 0;
  border: none;
  justify-self: flex-end;
}

.CloseButton:hover {
  background-color: rgba(0, 0, 0, 0.2);
}